name: Deploy to Physgun

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Game Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SFTP
        uses: wangyucode/sftp-upload-action@v3
        with:
          host: ${{ secrets.SFTP_HOST }}
          port: ${{ secrets.SFTP_PORT }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          localDir: ./garrysmod/
          remoteDir: ${{ secrets.SFTP_REMOTE_DIR }}
